/b2
/b2.exe
/bin.v2
/bjam
/bjam.exe
/bootstrap.log
/boost
/dist
/project-config.jam*
/stage
/stage_x64/
/user-config.jam
/.settings/
/.project
/.pydevproject

/tools/build/src/engine/b2
/tools/build/src/engine/b2.exe
.vs
.build
